/* general containers */

/* whole document */
body {
  font-family: 'Vidaloka', serif;  
  color: black;
  background-image: url("../images/background.jpeg");
  margin-bottom: 3rem;
}

.alert {
  margin: 1%;
  text-align: center;
}
#subwrapper .container {
  align-content: center;
  background: white;
  padding: 1rem;
  margin-bottom: 3rem;
  border: 1px solid red;
  border-radius: 1rem;
  opacity: 0.75;
}

/* jumbotron */
.jumbotron .container, .jumbotron-fluid {
    color: white;
    opacity: 0.75;
    background: black;
    margin-bottom: 0;
    text-align: center;
    padding: 1.5rem;
}

/* navbar */
navbar {
  margin: 0;
  color: black;

}

nav {
  border-bottom: 1px solid red;
  margin-bottom: 1rem;
  opacity: 0.9;

}

/* footer */
.sticky-bottom, footer .card {
  color: white;
  opacity: 0.5;
  background: black;
  text-align: right;
  border-radius: 0;
  border: 1px solid red;
}

.card p {
  text-align: right;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2, h4, p{
  text-align: center;
}

.container h3 {
  text-align: center;
}

h5 {
  text-align: center;
  font-size: 16px;
}

button {
  padding: 20px;
  background: black;
  color: white;
}

/* form */
form, #last-user-display, #user-display, #instructions, #key-reminders, #about, #contact, #resources {
  color: black;
  padding: 1rem;
  margin: 1rem;
  background: white;
  border-radius: 1rem;
  border: 1px solid red;
  opacity: 0.75;
  overflow: none;
}

#user-display {
  text-align: center;
  border: 1px solid red;
  opacity: 0.75;
}

#user-display h3 {
  border-bottom: 2px solid black;
}

#last-user-display {
  border: 1px solid red;
  opacity: 0.75;
}

#name-display, #song-display {
  background: white;
  opacity: 0.75;
  color: black;
}

#resources {
  text-align: center;
}

/* youtube player */
.player-container {
  position: relative;
  padding-bottom: 50%;
  margin-top: 3%;
  width: 100%;
  height: 0;
  overflow: hidden;
  border: 1px solid red;
  border-radius: 1rem;
}

.player-container #player, {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Piano Key section */
.dropdown {
  font-size: 1.5rem;
  text-align: center;
  margin-left: 1rem;
}

.dropdown-toggle {
  border: 1px solid red;
  border-radius: 1rem;
  opacity: 1;
  padding: 15%;
  float: left;
  margin: 15%;
}

.img-keys {
  opacity: 0.85;
  margin-left: 50px;
  padding: 1%;
  background: black; 
  border: 1px solid red;
  border-radius: 1rem;
}
#keyboard {
  width: 100%;
  height: auto;
  margin-left:5%;
}

#keys h1, #keys p {
  align-content: center;
  background: black;
  color: white;
  opacity: 0.8;
  border: 1px solid red;
  padding: 5%;
}

.set {
  border: 1px solid red;
  border-radius: 1rem;
  padding: 7%;
  margin-right: 0;
  margin-bottom: 1%;

}

.set-playground{
  font-size: 1.75rem;
  margin-left: -0.75rem;
  background: linear-gradient(white, gray, black);
  opacity: 0.8;
  border: 1px solid red;
  border-radius: 1rem;
  padding: 5%;
}

.big-container {
  background: white;
  opacity: 0.75;
  border: 1px solid red;
  border-radius: 1rem;
  margin-bottom: 1rem;

}

* { box-sizing:border-box; }

  body ul{ 
      margin:0; 
      background:#222; 
    }

  ul {
    /* original */
    /* height:18.875em; width:34em; */

    height:18.875em; width:37em;
    margin:5em auto; padding:3em 0 0 3em; position:relative; 
    border:1px solid #160801; border-radius:1em; 
    /* background:-webkit-gradient(linear, right bottom, left top, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0))), url('https://f.cl.ly/items/2q1f3t0C3R1b0g081w3n/vwood.png'); */
    box-shadow:0 0 50px rgba(0,0,0,0.5) inset, 0 1px rgba(212,152,125,0.2) inset,0 5px 15px rgba(0,0,0,0.5); 
    }

  li { 
      margin:0; 
      padding:0; 
      list-style:none; 
      position:relative; 
      float:left; 
    }

  ul .white {
    height:16em; width:4em; z-index:1;
    border-left:1px solid #bbb;
    border-bottom:1px solid #bbb;
    border-radius:0 0 5px 5px;
    box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0,0,0,0.2);
    background: linear-gradient(top, #eee 0%,#fff 100%);
  }
  ul .white.unpressed{
    height:16em; width:4em; z-index:1;
    border-left:1px solid #bbb;
    border-bottom:1px solid #bbb;
    border-radius:0 0 5px 5px;
    box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0,0,0,0.2);
    background: linear-gradient(top, #eee 0%,#fff 100%);
  }
  ul .white:active {
    border-top:1px solid #777;
    border-left:1px solid #999;
    border-bottom:1px solid #999;
    box-shadow:2px 0 3px rgba(0,0,0,0.1) inset, -5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
    background: linear-gradient(top, #fff 0%,#e9e9e9 100%);
  }
  ul .white.pressed {
    border-top:1px solid #777;
    border-left:1px solid #999;
    border-bottom:1px solid #999;
    box-shadow:2px 0 3px rgba(0,0,0,0.1) inset, -5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
    background: linear-gradient(top, #fff 0%,#e9e9e9 100%);
  }

  .black {
    height:8em; width:2em; margin:0 0 0 -1em; z-index:2;
    border:1px solid #000;
    border-radius:0 0 3px 3px;
    box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -5px 2px 3px rgba(0,0,0,0.6) inset, 0 2px 4px rgba(0,0,0,0.5);
    background:linear-gradient(45deg, #222 0%,#555 100%);
  }
  .black.bunpressed {
    height:8em; width:2em; margin:0 0 0 -1em; z-index:2;
    border:1px solid #000;
    border-radius:0 0 3px 3px;
    box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -5px 2px 3px rgba(0,0,0,0.6) inset, 0 2px 4px rgba(0,0,0,0.5);
    background:linear-gradient(45deg, #222 0%,#555 100%);
  }
  .black:active {
    box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -2px 2px 3px rgba(0,0,0,0.6) inset, 0 1px 2px rgba(0,0,0,0.5);
    background:linear-gradient(left, #444 0%,#222 100%);
  }
  .black.bpressed {
    box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -2px 2px 3px rgba(0,0,0,0.6) inset, 0 1px 2px rgba(0,0,0,0.5);
    background:linear-gradient(left, #444 0%,#222 100%);
  }

  /* .a,.g,.f,.d,.c { margin:0 0 0 -1em;  } */
  #g,#a,#b,#d,#e { margin:0 0 0 -1em;  }

  ul li:first-child { border-radius:5px 0 5px 5px; }
  ul li:last-child { border-radius:0 5px 5px 5px; }